.navbar{
  background: linear-gradient(60deg, indigo 10%,purple 35%,pink 90%);
}
.nav-item{
 color: white;
  font-size: larger;
}
.HomeHeader{
  margin-top: 250px;
font-family: cursive;
 
} 
.header{
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
 background: lightgray;

}
.header .btn{
  width: 10%;
  font-size: 18px;
  margin-top: 150px;
  background: purple;
  color: black;
  justify-content: center;
}
